:root {
  --font-fam: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; ;
}
* {
  padding: 0;
  margin: 0;
}
 /*Element selector that sets the background to a default color in case of loading errors. */
body {
  background-color: lightslategray;
}

.header {
  padding: 20px;
  font-family: var(--font-fam);
  background-color: #131f25;
  position: sticky;
  top: 0; 
  background-size: cover;
  background-position: 100%;
  width: 100%;
  height: 100px;

}

.header h1 {
  display: flex-box;
  font-size: 48px;
  position: sticky;
  top: 0;
}

.header h1 .westgard {
  color: rgb(227, 97, 121);
  position: sticky;
  top: 0;
}

.header nav {
  list-style-type: none;
  display: flex-box;
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  position: sticky;
  top: 0;
}

.header nav ul li {
  margin-left: 25px;
  position: sticky;
  top: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

/*https://alvarotrigo.com/blog/css-text-animations/ */
/* Color animation of title name */
.westgard {
  list-style-type: none;
  display:flex-box;
  text-transform: uppercase;
  animation: color-animation 4s linear infinite;
  font-size: 90px;
}

.title-word-1 {
  /* display: flex-box; */
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  display: flex-box;
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}


/* main */
/* Sets the grid styling https://www.w3schools.com/css/tryit.asp?filename=trycss_grid */
.grid-container {
  display: grid;
  grid-gap: 10px;
  grid: auto-fill;
  grid-template-columns: repeat(auto-fill, minmax(192px, 300px));
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: leftcenter;
}

.grid-item img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.grid-item h2 {
  display: block;
  margin: 10px;
  max-width: 50px;
}

.float-left {
  float: left;
  margin-right: 25px;
}

#contact {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  list-style-type: none;
  background-color: rgba(253, 249, 4, 0.8);
  display: flex-block;
  margin-left: 0px;
}

/* footer */
.footer {
  padding: 30px;
  font-family: var(--font-fam);
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}
